NEXT_PUBLIC_SUPABASE_URL="https://diimxnsmrhhouflgoqib.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
PAYSTACK_SECRET_KEY="sk_live_your-paystack-secret-key"
NEXT_PUBLIC_PAYSTACK_PUBLISHABLE_KEY="pk_live_your-paystack-publishable-key"
